<div class="row mt-3">
    <div class="col">
      <h5 class="display-4 float-right mb-2">Twoje Playlisty</h5>
    </div>
</div>

<div class="row mt-1">
  <!-- Lista -->
  <div class="col-md-6">
    <playlists-list 
    [playlists]="playlists" 
    [selected]="selected" 
    (selected)="select($event)"
    (onCreate)="createNew($event)"
    ></playlists-list>
  </div>
  
  <div class="col-md-6">
    <div [ngSwitch]="mode">
      
      <!-- default -->
      <content-card *ngSwitchDefault title="Playlista">
        <p>Wybierz <b>playlistę</b>!</p>
      </content-card>

      <!-- selected -->
      <content-card *ngSwitchCase="'selected'" title="Playlista {{selected.name}}">
          <playlist-detail
          [playlist]="selected"
          (onEdit)="edit($event)"></playlist-detail>
      </content-card>
      
      <!-- edit -->
      <content-card *ngSwitchCase="'edit'" title="Playlista {{edited.name}} - edycja">
          <playlist-form 
          [playlist]="edited" 
          (onSave)="save($event)"></playlist-form>
      </content-card>

    </div>
  </div>
</div>